@charset "utf-8";
/* CSS Document catsoup css3 BY 橘白婪 */
/* http://tang.jubailan.com/          */

* {margin: 0;padding: 0;}

body {background:#fff;-webkit-perspective: 1200px;/*-webkit-transform-style: preserve-3d;*/}

.all { 
	width:900px; height:760px;  margin-left:auto; margin-right:auto;
	/*-webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(0deg);*/
	}

.pic_all {
	left:20px;top:150px; position:relative;
	transform: rotate(25deg) scale(0.8);
		-webkit-transform: rotate(25deg) scale(0.8);
		-moz-transform: rotate(25deg) scale(0.8);
		-o-transform: rotate(25deg) scale(0.8);
}

.pic {
	position:relative;width:703px;height:566px;
	border:5px #fff solid;
	box-shadow:3px 3px 5px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:3px 3px 5px 1px rgba(0,0,0,0.2);
		-moz-box-shadow:3px 3px 5px 1px rgba(0,0,0,0.2);
	background: #600002 url(pic/catsoupbig.jp0g) no-repeat 0 0;
	height:500px; overflow:hidden;
}

.pic_shadow {
	width:200px; height:100px; background:#666; position:absolute; bottom:0px; left:20px;
	z-index:0; opacity:0.5;
	box-shadow:0px 0px 5px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow:0px 0px 5px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:0px 0px 5px 3px rgba(0,0,0,0.5);
	-moz-transform: skew(-19deg, 10deg) rotate(-15deg);  
	-webkit-transform: skew(-19deg, 10deg) rotate(-15deg);  
	-o-transform: skew(-19deg, 10deg) rotate(-15deg); 
}

.pop {
	width:140px; height:150px; background:#fff; position:absolute; left:450px; top:30px; 
	border-radius: 200px;
		-weblit-border-radius:200px;
		-moz-border-radius: 200px;
}

.popsmall {
	position:absolute; left:380px; top:150px; opacity:0.9;
	width:40px; height:40px; background:#fff;
	border-radius: 200px;
		-weblit-border-radius:200px;
		-moz-border-radius: 200px;
}
	

.flower {
	position:absolute; width:300px; height:300px;background:none; bottom:-10px; right:60px;
	transform:scale(0.5);
	-o-transform:scale(0.5);
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	top:-55px; left:-105px;
}

.fl { border: solid 3px #000 ; }

.flower .leaf {
	width:70px; height:100px; left:100px;  border-bottom:0; position:absolute; 
	border-radius:110px 80px 80px 100px/80px 80px 180px 180px;
		-moz-border-radius:110px 80px 80px 100px/80px 80px 180px 180px;
		-webkit-border-radius:110px 80px 80px 100px/80px 80px 180px 180px;
		background:#F68968; z-index:30;
}

.flower .l0 {
	width:25px; height:25px; position:absolute; left:112px; top:92px;
	border-radius:25px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
	background:#FDF47D; z-index:35;
	position:relative;
}

.flower .leaf.l2 {
	transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	left:150px; top:60px;
}

.flower .leaf.l3 {
	transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	left:100px; top:120px; height:80px;
}

.flower .leaf.l4 {
	width:80px;
	border-radius:110px 80px 80px 100px/80px 80px 180px 180px;
		-moz-border-radius:110px 80px 80px 100px/80px 80px 180px 180px;
		-webkit-border-radius:130px 100px 80px 100px/190px 150px 180px 180px;
	transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
left:30px; top:60px;
}

.flower .scape {
	width:1px; border-color:#98E492; position:relative; height:100px; left:195px; top:110px; z-index:35;
}

.flower .leaves {
	position:relative; z-index:40;
	transform: rotate(320deg);
		-webkit-transform: rotate(320deg);
		-moz-transform: rotate(320deg);
		-o-transform: rotate(320deg);
}

.cat1 {
	position:relative; left:90px; top:140px;
	width:300px; height:400px;
	opacity:0.99;
}

.cat .skin {
	background-color:#fefefe; border:solid 1px #fefefe;
}

.cat .hair {
	box-shadow:0px 0px 3px 1px #fefefe;
		-webkit-box-shadow:0px 0px 3px 1px #fefefe;
		-moz-box-shadow:0px 0px 3px 1px #fefefe;
}

.cat .hair2 {
	box-shadow:0px 0px 3px 1px #000;
		-webkit-box-shadow:0px 0px 3px 1px #000;
		-moz-box-shadow:0px 0px 3px 1px #000;
}

.cat .black_blur {
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.45);
		-webkit-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.45);
		-moz-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.45);
}

.cat .black_line {
	border:1px solid #333;
}

.cat .head {
	width:226px; height:210px; z-index:10;
	position:relative;left:24px;top:3px;
	border-radius: 226px/210px;
		-weblit-border-radius: 226px/210px;
		-moz-border-radius: 226px/210px;
}

.cat .shadow {
	position:absolute;
	background:-webkit-gradient(linear, left bottom, left 80%, from(#bbb), to(white)); 
	background:-moz-linear-gradient(bottom, #bbb, white 20%);
	left:0; top:2px;
}

.cat .shadow2 {
	width:110px; height:100px;
	position:absolute;
	background:none;
	box-shadow:0px 0px 45px 30px #fefefe;
		-webkit-box-shadow:0px 0px 45px 30px #fefefe;
		-moz-box-shadow:0px 0px 45px 30px #fefefe;
	left:55px; top:56px;
}

.cat .ears { height:60px; }

.cat .ear {
	position:relative; left:14px; top:14px; width:40px; height:40px; z-index:18;
	border-radius:5px/5px 30px;
		-webkit-border-radius:5px/5px 30px;
		-moz-border-radius:5px/5px 30px;
	border-top-right-radius:15px 10px; 
		-webkit-border-radius-topright:15px 10px; 
		-moz-border-radius-topright:15px 10px; 
	display:inline-block;
	transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
}

.cat .ear .inline {
	position:relative; left:19px; top:22px; width:23px; height:20px; background:#D7D1D5; 
	border-radius:5px/5px 30px;
		-moz-border-radius:5px/5px 30px;
	border-top-right-radius:35px 10px;
		-moz-border-radius-topright:35px 10px;
	transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
	box-shadow:0px 0px 2px 1px #D7D1D5;
		-webkit-box-shadow:0px 0px 2px 1px #D7D1D5;
		-moz-box-shadow:0px 0px 2px 1px #D7D1D5;
}

.cat .ear .inline .conv {
	position:absolute; top:5px; left:3px; width:30px; height:30px; 
	transform: rotate(55deg);
		-webkit-transform: rotate(55deg); 
		-moz-transform: rotate(55deg);
		-o-transform: rotate(55deg);
	border-radius:30px/80px;
		-moz-border-radius:30px/80px;
		-webkit-border-radius:30px/80px;
	box-shadow:0px 0px 2px 1px #fff;
		-webkit-box-shadow:0px 0px 2px 1px #fff;
		-moz-box-shadow:0px 0px 2px 1px #fff;
}

.cat .ear.right {
	transform: rotate(85deg);
		-webkit-transform: rotate(85deg);
		-moz-transform: rotate(85deg);
		-o-transform: rotate(85deg);
	left:125px; top:18px;
}

.cat .ear.right .inline {
	transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
	left:23px; top:18px;
}

.cat .face {
	position:relative; height:150px;
}

.cat .eyes {
}

.cat .eye {
	width:93px; height:60px; position:relative; top:33px; left:10px; overflow:hidden; display:inline-block; 
	border-radius:100px;
		-webkit-border-radius:100px;
		-moz-border-radius:100px;
}

.cat .eye .top, .cat .eye .bot  {
	width:96px; height:33px; overflow:hidden; position:relative;
}

.cat .eye .b,.cat .eye .c{
	width:91px; height:100px;  z-index:25;  top:5px; position:absolute;
	border-top-left-radius:200px 190px;
		-webkit-border-top-left-radius:200px 190px;
		-moz-border-radius-topleft:200px 190px;
	border-top-right-radius:180px 190px;
		-webkit-border-top-right-radius:180px 190px;
		-moz-border-radius-topright:180px 190px;
}

.cat .eye .c {
	border:30px solid #fefefe; top:-25px; left:-30px; z-index:20;
}

.cat .eye .bot{
	height:33px; position:relative; left:-1px; z-index:19;
	transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
}

.cat .eye .bot .b,.cat .eye .bot .c {
	position:absolute; top:7px; left:2px;
	border-top-left-radius:200px 170px;
		-webkit-border-top-left-radius:200px 170px;
		-moz-border-radius-top-left:200px 170px;
	border-top-right-radius:180px 170px;
		-webkit-border-top-right-radius:180px 170px;
		-moz-border-radius-top-right:180px 170px;
}

.cat .eye .bot .c {
	top:-22px; left:-27px; z-index:20;
}

.cat .eye .eyeball {
	width:80px; height:80px; background:#35312E; left:8px; top:-20px; position:absolute; z-index:16; 
	border-radius:80px; 
		-webkit-border-radius:80px; 
		-moz-border-radius:80px; 
}

.cat .eye.right { left:17px;  }

.cat .nm {
	width:65px; height:60px; position:relative; left:80px; top:20px;
}

.cat .nose {
	width:18px; height:12px; position:relative; left:23px; top:2px; background:#000; z-index:30;
	border-radius:18px/12px;
		-webkit-border-radius:18px/12px;
		-moz-border-radius:18px/12px;
}

.cat .mouse {
	height:10px; width:65px; position:relative; top:10px; overflow:hidden;z-index:30;
	transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
}

.cat .mouse .left,.cat .mouse .right {
	width:25px; height:20px; display:inline-block; float:left; margin-top:3px;
	border-radius:25px/20px;
		-moz-border-radius:25px/20px;
		-webkit-border-radius:25px/20px;
}

.cat .mouse .left {
	margin-left:7px;
}

.cat .mouse .right {
	margin-left:-2px;
}

.cat .nm .center {
	position:relative; top:-10px; left:31px; height:10px; width:1px; z-index:25;
	border-left:2px solid rgba(0,0,0,0.50);
}

.cat .tongue {
	width:16px; height:24px;position:absolute; left:23px; top:24px; z-index:25; background:#ECC2C4;
	/*border-bottom-left-radius:9px 13px;
	border-bottom-right-radius:9px 13px;*/
	border-radius:0 0 9px 9px/0 0 13px 13px;
		-webkit-border-radius:0 0 9px 9px/0 0 13px 13px;
		-moz-border-radius:0 0 9px 9px/0 0 13px 13px;
}

.cat .tongue .line {
	border-left:2px solid rgba(0,0,0,0.20); width:1px; height:16px; margin-left:7px;
	/*box-shadow:0px 0px 2px 1px rgba(0,0,0,0.30);
		-webkit-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.30);
		-moz-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.30);*/
}

.cat .cov {
	width:200px; height:10px; background:#fefefe; border:0px solid #f00; position:absolute; z-index:100; top:25px; left:10px;
}

.cat .body {
	position:relative; top:-30px;
}

.cat .upper {
	width:150px; height:90px; background:#B8C2B9; position:relative; left:60px; z-index:4;
	background:-webkit-gradient(linear, left top, left 70%, from(#616661), to(#B8C2B9));
	background:-moz-linear-gradient(top, #616661, #B8C2B9 60%);
}

.cat .collar {
	width:60px; height:60px;
	margin-left:auto; margin-right:auto; position:relative; top:-10px;
	border-radius:60px;
		-webkit-border-radius:60px;
		-moz-border-radius:60px;
	background:-webkit-gradient(linear, left top, left 100%, from(#bbb), to(#fefefe));
	background:-moz-linear-gradient(top, #bbb, #fefefe 100%);
}

.cat .arms {
	position:relative; top:-70px;
}

.cat .arm {
	position:relative; display:inline-block; width:30px; height:120px; left:-22px; z-index:10;
	transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
	border-radius: 40px 0 0 45px / 100px 0 0 90px;
		-webkit-border-radius: 40px 0 0 45px / 100px 0 0 90px;
		-moz-border-radius: 40px 0 0 45px / 100px 0 0 90px;
	background:-webkit-gradient(linear, left top, left 40%, from(#bbb), to(#fefefe));
	background:-moz-linear-gradient(top, #bbb, #fefefe 40%);
}

.cat .palm {
	position:relative; width:25px; height:25px;  top:95px; left:15px; border-left:0; border-bottom:0; background:#fefefe;
	border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
		-webkit-border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
		-moz-border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
	transform: rotate(50deg);
		-webkit-transform: rotate(50deg);
		-moz-transform: rotate(50deg);
		-o-transform: rotate(50deg);
}

.cat .arm.right {
	left:95px; top:5px; height:120px;
	transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
	border-radius: 10px 40px 45px 10px / 100px; 100px 90px 100px;
		-webkit-border-radius: 10px 40px 45px 10px / 100px; 100px 90px 100px;
		-moz-border-radius: 10px 40px 45px 10px / 100px; 100px 90px 100px;
}

.cat .right .palm {
	top:94px; left:-8px; 
	transform: rotate(-150deg);
		-webkit-transform: rotate(-150deg);
		-moz-transform: rotate(-150deg);
		-o-transform: rotate(-150deg);
}

.cat .bag {
	position:relative; top:-170px; width:200px; height:130px; background:none;
}

.cat .bag .belt {
	border-bottom:12px solid #666; width:175px; height:50px; position:relative; top:-5px; left:20px;
	transform: rotate(36deg);
		-webkit-transform: rotate(36deg);
		-moz-transform: rotate(36deg);
		-o-transform: rotate(36deg);
}

.cat .bag .belt.in {
	border-bottom:10px solid #fff; position:relative; left:26px; top:-62px;
}

.cat .bag .pac {
	position:absolute; bottom:8px; right:8px; background:#DDDAA5; width:50px; height:52px; border:solid 1px #000;
	border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
}

.cat .pac .line {
	height:10px; border-bottom:#666 dashed 1px;
}

.cat .book {
	width:150px; height:125px; background:#FCE9C8; position:relative; top:-275px; left:-50px;z-index:6;
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-o-transform: rotate(-2deg);
	box-shadow:3px -3px 3px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:3px -3px 3px 1px rgba(0,0,0,0.2);
		-moz-box-shadow:3px -3px 3px 1px rgba(0,0,0,0.2);
}

.cat .pages {
	position:absolute; right:0; top:0;  background:#fefefe; height:100%;
}

.pages .page {
	width:2px; height:100%; border-right:#666 solid 1px; display:inline-block; float:left;
}

@font-face {
 font-family: jubailan;
 src:url(font/jubailans.ttf) format("truetype");
}

.cat .book .font {
	position:relative; top:-10px; left:0px; color:rgba(255,255,255,0.8); height:140px; padding:5px; width:110px; border:solid 0px #C09;
	transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; background:#0CC;
	
	box-shadow:2px -2px 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:2px -2px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow:2px -2px 1px 1px rgba(0,0,0,0.2);
}

.font .aut { font-size:11px; text-align:center; margin-top:83px; }

.pic a.jubailan {
	font-size:32px; color:rgba(255,255,255,0.7);font-family:"jubailan","Times New Roman", Times, serif; font-weight:bold; 
	position:absolute; z-index:121; bottom:20px; right:30px; text-decoration:none;
}

.pic a.jubailan .ju { color:#F90 }
.pic a.jubailan .lan {  }

.cat .pri {
	position:relative; widows:100px; height:150px;
}

.cat .trousers {
	position:relative; left:50px; width:160px; height:52px; background:#717E87; z-index:3; border-top:solid 2px #333;
}

.cat .legs {
	position:relative; width:200px; left:20px; top:-50px;
}

.cat .leg {
	width:40px; height:100px; border:solid 1px #000; position:relative; left:55px; display:inline-block;
	border-radius:15px / 100px;
		-webkit-border-radius:15px / 100px;
		-moz-border-radius:15px / 100px;
}

.cat .leg.right { left:90px; width:38px; 
	background:-webkit-gradient(linear, left top, left 70%, from(#bbb), to(white)); 
	background:-moz-linear-gradient(top, #bbb, white 30%);
	border-radius:20px 20px 30px 20px / 100px 100px 100px 100px;
		-webkit-border-radius:20px 20px 30px 20px / 100px 100px 100px 100px;
		-moz-border-radius:20px 20px 30px 20px / 100px 100px 100px 100px;
	transform: rotate(-4deg);
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
}

.fish {
	position:relative; left:-190px; top:100px;
	transform: rotate(90deg) scale(0.5);
		-webkit-transform: rotate(90deg) scale(0.5);
		-moz-transform: rotate(90deg) scale(0.5);
		-o-transform: rotate(90deg) scale(0.5);
}

.fish .top,.fish .bot,.fish .mid {
	height:30px; width:140px; overflow:hidden;
}

.fish .top .line,.fish .bot .line,.fish .mid .line {
	width:150px; height:120px; border:solid 3px #69C;
	border-radius:150px / 120px;
		-webkit-border-radius:150px / 120px;
		-moz-border-radius:150px / 120px;
}

.fish .mid {
	width:40px;position:relative;
	left:108px; top:-65px;
	transform: rotate(-60deg);
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
}

.fish .bot {
	position:relative;
	left:12px; top:-26px;
	transform: rotate(163deg);
		-webkit-transform: rotate(163deg);
		-moz-transform: rotate(163deg);
		-o-transform: rotate(163deg);
}

/*动画开始*/
@-webkit-keyframes t {
		  0%   { opacity:0; }
		  25%  { opacity:0; }
		  50%  { opacity:0; }
		  52%  { opacity:0; }
		  60%  { opacity:0.8; }
		  100% { opacity:0.8;}
}

@-webkit-keyframes t2 {
		  0%   { opacity:0; }
		  25%  { opacity:0; }
		  50%  { opacity:0; }
		  55%  { opacity:0.8; }
		  75%  { opacity:0.8; }
		  100% { opacity:0.8;}
}

@-webkit-keyframes t3 {
		  0%   { left:8px;  }
		  25%  { left:8px;  }
		  39%  { left:8px;  }
		  41%  { left:18px; top:-28px; }
		  75%  { left:18px; top:-28px; }
		  98%  { left:18px; top:-28px; }
		  100% { left:8px; }
}

.cat .eye .eyeball {
	-webkit-animation: 't3' 6s linear;
	-webkit-animation-iteration-count: infinite;
}

.pop {
	-webkit-animation: 't' 6s linear;
	-webkit-animation-iteration-count: infinite;
	opacity:0.8;
}

.popsmall {
	-webkit-animation: 't2' 6s linear;
	-webkit-animation-iteration-count: infinite;	
	opacity:0.8;
}
/*动画结束*/