.link {
  color:black;
  text-decoration:none;
  margin:1px;
  -moz-transition: box-shadow 1s;
}

.link:hover {
  box-shadow:0px 0px 4px #222222;
}

.info{
  text-align:center;
}

ul.list {
  height:560px;
}

ul.list li {
  list-style: none;
  height:80px;
}

td.list {
  width:160px;
}

td#characters div.card .left{
  float:left;
  background-color: #CCF;
}

td#characters div.card .right{
  float:right;
  background-color: #DDF;
}

td#characters div.card .img.left{
  float:left;
}

td#characters div.card .img.right{
  float:right;
}

td#characters div.card .text.left{
  float:left;
  height: 49px;
  width:calc(100% - 218px);
}

td#characters div.card .text.right{
  float:right;
  height: 49px;
  text-align: right;
  position: relative;
  top:0px;
  width:calc(100% - 218px);
}

td#characters div .img img {
  width:100px; height:100px;
}

div.card {float:none}

.img img, .text{padding: 3px;}

.colorentry:nth-child(2n+1){
  background-color: #DDF;
}

.colorentry:nth-child(2n){
  background-color: #FFF;
}
.colorentry:hover{
  background-color: #CCF;
}
