<!DOCTYPE html>
<html>
    <head>
        <title>Edit Game</title>
        <script type="text/javascript">
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <center>
            <form action="/edit/game" method="post" onsubmit="return check(this);">
                <h2>Data Upload</h2>
                <table>
                    <tr class="row">
                        <td>Name:</td>
                        <td><input type="text" name="Name" value="{{ game.Name }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Company:</td>
                        <td>
                            <select name="Company">
                                {% for com in company %}
                                <option value="{{com.key}}"{% if com.key == game.Company %} selected="true"{% endif %}>{{com.Name}}</option>
                                {% endfor %}
                            {{game.Company}}    
                            </select>
                        </td>
                    </tr>
                    <tr class="row">
                        <td>Release Date:</td>
                        <td><input type="text" name="rDate" value="{{ game.rDate|date:"Y-m-d" }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Start Playing Date:</td>
                        <td><input type="text" name="pDate1" value="{{ game.pDate1|date:"Y-m-d" }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Finish Playing Date:</td>
                        <td><input type="text" name="pDate2" value="{{ game.pDate2|date:"Y-m-d" }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Icon:</td>
                        <td><input type="text" name="Icon" value="{{ game.Icon.key }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Poster:</td>
                        <td><input type="text" name="Poster" value="{{ game.Poster.key }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Characters:</td>
                        <td><a href="/edit/character?key={{ game.key }}">Edit Characters</a></td>
                    </tr>
                    <tr class="row">
                        <td>ExtLinks:</td>
                        <td><textarea name="ExtLinks" rows="5" cols="30"></textarea>{{ game.ExtLinks }}</td>
                    </tr>
                    <tr class="row">
                        <td>VADB Number:</td>
                        <td><input type="text" name="VADB" value="{{ game.VADB.key }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>VNDB Number:</td>
                        <td><input type="text" name="VNDB" value="{{ game.VNDB.key }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>EGS Number:</td>
                        <td><input type="text" name="EGS" value="{{ game.EGS.key }}"/></td>
                    </tr>
                    <tr class="row">
                        <td>Hidden:</td>
                        <td><input type="checkbox" name="Hidden"/></td>
                    </tr>
                    <tr class="row">
                        <td><label>Attachment:</label></td>
                        <td><input type="text" name="Attachment" value="{{ game.Attachment.key }}"/></td>
                    </tr>
                </table>
                <div>
                    <input type="hidden" name="key" value="{{ game.key }}"/>
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </center>
    </body>
</html>