<table class="info">
	<tr>
		<td rowspan="7" valign="top">
			<img src="/data?key={{ game.Poster.key }}" style="width:300px;height:auto;"/>
		</td>
		<td>
			Name
		</td>
		<td>
			{{ game.Name }}
		</td>
	</tr>
	<tr>
		<td>
			Company
		</td>
		<td>
			{{ Company }}
		</td>
	</tr>
	<tr>
		<td>
			Release Date
		</td>
		<td>
			{{ game.rDate|date:"Y-m-d" }}
		</td>
	</tr>
	<tr>
		<td>
			Playing Date
		</td>
		<td>
			{{ game.pDate1|date:"Y-m-d" }} --> {{ game.pDate2|date:"Y-m-d" }}
		</td>
	</tr>
	<tr>
		<td valign="top">
			Seiyuu
		</td>
		<td id="characters" style="width:500px;">
			{% for c in Characters %}
			{% if not forloop.counter|divisibleby:2 %}
			<div class="card">
				<div class="img left">
	            	<img src="/data?key={{ c.0.image.key }}">
		        </div>
		        <div class="text left">{{ c.0.Name }}<br/>{{ c.1 }}</div>
	    	{% else %}
	    		<div class="img right">
	            	<img src="/data?key={{ c.0.image.key }}">
		        </div>
		        <div class="text right">{{ c.0.Name }}<br/>{{ c.1 }}</div>
	    	</div>
	    	<div class="clear"><br/></div>
	    	{% endif %}
	        {% endfor %}
		</td>
	</tr>
	<tr>
		<td>
			ExtLinks
		</td>
		<td id="ExtLinks" align="left">
			{{ game.ExtLinks }}
		</td>
	</tr>
	<tr>
		<td>
			Attachment Link
		</td>
		<td>
			<a href="/data?key={{ game.Attachment.key }}">{{ game.Name }} Attachment File</a>
		</td>
	</tr>
</table>
