<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - IR Viewer Online Version</title>
	<script src="/jquery-1.8.3.min.js"></script>
	<script src="/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="/jquery.dataTables.css" />
	<link rel="stylesheet" href="/jquery-ui-1.9.2.custom.min.css" />
	<script>
		$(document).ready(function(){
			$("#maintable").dataTable();
		
			{% for link in links %}
			$(".{{ link.ID }}").button({
				icons: {
					primary: "ui-icon-plusthick"
				}
			});
			$(".{{ link.ID }}").click( function() {
				location.href='{{ link.link }}';
			});
			{% endfor %}
			
			$(".content").position({
				at: "center top",
				my: "center top"
			});
		});
	</script>
</head>
<body>
	<div class="content">
		<table id="maintable">
			<!-- Header /-->
			<thead>
				<tr>
					{% for header in Headers %}
					<th valign="top" align="center">
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</thead>
			<!-- Body /-->
			{% for entry in Data %}
			<tr class="colorentry">
				{% for item in entry %}
				<td valign="middle" align="center">{{ item|safe }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<!-- Footer /-->
			<tfoot>
				<tr>
					{% for header in Headers %}
					<th valign="top" align="center">
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>
		<hr>
		<div>
			{% for link in links %}
			<button class="{{ link.ID }}">
				{{link.name}}
			</button>
			{% endfor %}
		</div>
	</div>
</body>
</html>