{% comment %}
    parameters: 
    string type;
    list/dict data;
    };
{% endcomment %}
<script> 
    $.jqplot.config.enablePlugins = true;
    {% if type == 'bar' %}
    //--------------------------start bar plot ---------------------------//
    function drawbar(id, caption, data, ticks) {
        
        plot = $.jqplot(id, [data], {
            title : caption,
            seriesColors:['rgba(75,178,197,0.9)'],
            animate : !$.jqplot.use_excanvas,
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    ticks: ticks,
                    tickOptions: {
                        angle: -20
                    } 
                }
            },
            highlighter: { show: false }
        });
    }
    //--------------------------finish bar plot---------------------------//
    var data_{{ name }} = [{% for entry in data %}{{ entry.1 }},{% endfor %}];
    var tick_{{ name }} = [{% for entry in data %}'{{ entry.0 }}',{% endfor %}];
    drawbar('plot_{{ name }}', '{{ caption }}', data_{{ name }}, tick_{{ name }});
    {% endif %}
    {% if type == 'hist' %}
    //--------------------------start histogram---------------------------//
    function drawhist(id, caption, data, buckets) {
        var maxval = Math.max.apply(null,data);
        var minval = Math.min.apply(null,data);
        var step = Math.round(maxval/buckets);

        var ranges = [];
        var values = [];
        var next = 0;

        for (i=0; i<=buckets; i++){ 
            if(i<buckets-1){
                var first = next;
                var next = first + step;
                var bin = first + "-" + next;
            } else {
                var first = next;
                var mylast = next + step;
                var bin = next + "-" + mylast;
                var next = mylast;
            }

            var count = 0;
            for (var j = 0; j < data.length; j++) {
                if (data[j]>first&&data[j]<=next) {
                    count++;
                }
            };

            values.push(count);
            ranges.push(bin);
        }
        $('#'+id).empty();
        plot = $.jqplot(id, [values], {
            title : caption,
            animate: !$.jqplot.use_excanvas,
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                rendererOptions: {
                    barWidth: null,
                    barPadding: 0,
                    barMargin: 5,
                    varyBarColor: true
                },
                pointLabels: { show: true }
            },
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                tickOptions: {
                    fontSize: '14px'
                }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    ticks: ranges
                }
            },
            highlighter: { show: false }
        });
    }
    var data_{{ name }} = [{{ data|join:"," }}];
    drawhist('{{ name }}', '{{ caption }}' ,data_{{ name }}, 10);
    {% endif %}
    //--------------------------finish histogram---------------------------//

    $(".statcontent").position({
        at: "center top",
        my: "center top"
    });

    
</script>

<div class="statcontent">
    <div id="{{ name }}">
        <div id="plot_{{ name }}" style="width:90%;height:90%"></div>
    </div>
</div>
