<!DOCTYPE html>
<html>
    <head>
        <title>upload test</title>
        <script type="text/javascript">
            function check(formdata){
                with(formdata){
                    if(name.value==''){
                        alert('Name can\'t be empty!');
                        name.focus();
                        return false;
                    }
                }
            }
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <center>
            <form action="{{upload_url}}" enctype="multipart/form-data" method="post" onsubmit="return check(this);">
                <h2>Data Upload</h2>
                <table>
                    <tr class="row">
                        <td>Id:</td>
                        <td><input type="text" name="Id"/></td>
                    </tr>
                    <tr class="row">
                        <td>Name:</td>
                        <td><input type="text" name="Name"/></td>
                    </tr>
                    <tr class="row">
                        <td>Company:</td>
                        <td><input type="text" name="Company"/></td>
                    </tr>
                    <tr class="row">
                        <td>Release Date:</td>
                        <td><input type="text" name="rDate" value="2012-01-01"/></td>
                    </tr>
                    <tr class="row">
                        <td>Start Playing Date:</td>
                        <td><input type="text" name="pDate1" value="2012-01-01"/></td>
                    </tr>
                    <tr class="row">
                        <td>Finish Playing Date:</td>
                        <td><input type="text" name="pDate2" value="2012-01-01"/></td>
                    </tr>
                    <tr class="row">
                        <td>Icon:</td>
                        <td><input type="file" name="Icon"/></td>
                    </tr>
                    <tr class="row">
                        <td>Poster:</td>
                        <td><input type="file" name="Poster"/></td>
                    </tr>
                    <tr class="row">
                        <td>Characters:</td>
                        <td><textarea name="Characters" rows="5" cols="30"></textarea></td>
                    </tr>
                    <tr class="row">
                        <td>Memo:</td>
                        <td><textarea name="Memo" rows="5" cols="30"></textarea></td>
                    </tr>
                     <tr class="row">
                        <td>VADB Number:</td>
                        <td><input type="text" name="VADB"/></textarea></td>
                    </tr>
                     <tr class="row">
                        <td>VNDB Number:</td>
                        <td><input type="text" name="VNDB"/></textarea></td>
                    </tr>
                    <tr class="row">
                        <td>Hidden:</td>
                        <td><input type="checkbox" name="Hidden"/></td>
                    </tr>
                    <tr class="row">
                        <td><label>Attachment:</label></td>
                        <td><input type="file" name="Attachment"/></td>
                    </tr>
                </table>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </center>
    </body>
</html>