<!DOCTYPE html>
<html>
<head>
	<title>AQI Query</title>
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="./jquery.mobile-1.2.0.css" />
	<script src="/jquery.mobile-1.2.0.js"></script>
	<script src="/jquery-1.8.3.js"></script>
	<script src="/jquery.mobile-1.2.0.js"></script>
	<script src="/script.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#aqi-now").click(function() {
				$.get("/query/now", function(data){
					$("#aqi-content").html(data);
					$("#aqi-content").trigger('create');
					$("#aqi-now").addClass('ui-btn-active');
				});
			});

			$("#aqi-history").click(function() {
				$.get("/query/history", function(data){
					$("#aqi-content").html(data);
					$("#aqi-content").trigger('create');
					$("#aqi-history").addClass('ui-btn-active');
					$("#aqi-now").removeClass('ui-btn-active');
				});
			});

			$("#aqi-now").click();
		});
	</script>
</head>
<body>
	<div data-role="page" id="main" data-title="AQI Query History">
	<div data-role="header" data-position="fixed">
		<h1>AQI Query History</h1>
		<div data-role="navbar">
			<ul>
				<li><a id="aqi-now" href="javascript:void(0);">当前数值</a></li>
				<li><a id="aqi-history" href="/query/history">历史数值</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
	<div data-role="content" id="aqi-content">
		
	</div><!-- /content -->
	</div><!-- /page -->
</body>
</html>