<!DOCTYPE html>
<html>
<head>
	<title>AQI Query</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/favicon.png" />
	<link rel="stylesheet" href="/style.css" />
	<link rel="stylesheet" href="/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" type="text/css" href="jquery.jqplot.min.css" />
	<script src="/jquery-1.8.3.min.js"></script>
	<script src="/jquery.mobile-1.2.0.min.js"></script>
	<script language="javascript" type="text/javascript" src="/jquery.jqplot.min.js"></script>
	<script language="javascript" type="text/javascript" src="/plugins/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript" src="/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script src="/script.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var a = navigator.userAgent.toLowerCase();
			var is_ios = a.indexOf("iphone") != -1 || a.indexOf("ipod") != -1 || a.indexOf("ipad") != -1;
			if (is_ios)
				$.mobile.defaultTransition = "slide";

			$("#aqi-now").click(function() {
				$.get("/query/now", function(data){
					$("#aqi-content").html(data);
					$("#aqi-content").trigger('create');
					$("#aqi-now").addClass('ui-btn-active');
					$("#aqi-all").removeClass('ui-btn-active');
					$("#aqi-history").removeClass('ui-btn-active');
				});
			});

			$("#aqi-history").click(function() {
				$.get("/query/history", function(data){
					$("#aqi-content").html(data);
					$("#aqi-content").trigger('create');
					$("#aqi-history").addClass('ui-btn-active');
					$("#aqi-now").removeClass('ui-btn-active');
					$("#aqi-all").removeClass('ui-btn-active');
				});
			});

			$("#aqi-all").click(function() {
				$.get("/query/all", function(data){
					$("#aqi-content").html(data);
					$("#aqi-content").trigger('create');
					$("#aqi-all").addClass('ui-btn-active');
					$("#aqi-now").removeClass('ui-btn-active');
					$("#aqi-history").removeClass('ui-btn-active');
				});
			});
		// 	$("#aqi-now").click();
		});
	</script>
</head>
<body>
	<div data-role="page" id="main" data-title="AQI Query History">
	<div data-role="header" data-position="fixed">
		<h1>AQI Query</h1>
		<a href="/query" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
		<div data-role="navbar">
			<ul>
				<li><a id="aqi-now" href="javascript:void(0);" class="ui-btn-active" data-transition="inset">最新数值</a></li>
				<li><a id="aqi-history" href="javascript:void(0);" data-transition="inset">最近数值</a></li>
				<li><a id="aqi-all" href="javascript:void(0);" data-transition="inset">历史数值</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
	<div data-role="content" id="aqi-content">
		{{ content }}
	</div><!-- /content -->
<!-- 	<div data-role="footer" data-position="fixed">
		<h6>Program by KeMeGe<br/>Powered by Google App Engine</h6>
	</div><!- /footer -> -->
	</div><!-- /page -->
</body>
</html>